@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Courgette&family=Lobster&family=Open+Sans&family=PT+Serif&family=Quicksand&family=Roboto&family=Silkscreen&display=swap');
body 
{
	margin: 0;
	padding: 0;
	height: 50vh;
	box-sizing: border-box;
	background-image: url("../image/img-6.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}



                 
#dateUI 
{
	margin: 250px 0 0 0;
	color: #efefef;
	font-size: 50px;
	text-align: center;
	font-family: 'Silkscreen', cursive;
}
/*date start here*/
.dates 
{
    margin-top: 10px;
    margin-left: -162px;
    font-size: 18px;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: #fff;
}

/*Button design start here*/
.btn 
{
    margin: 200px 0px 0 18px;
}

.btn button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: serif;
    color: #efefef;
    background: #000;
    cursor: pointer;
}

.btn button:focus 
{
	border: 1px solid #fff;
}
